<!DOCTYPE html>
<html lang="en">
<head>
    <h1>
        <svg width="1800" height="100">
            <rect width="1800" height="100" style="fill:rgb(0, 132, 255);stroke-width:3;stroke:rgb(0,132,255 )"/>
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="50px" fill="white">Atom AI</text>
        </svg>
    </h1>
    <body>
        <form>
            <label for="fname">Input:</label><br>
            <input type="text" id="fname" req="fname"><br>
        </form>
    </body>
</html>