<!DOCTYPE html>
<html lang="en">
<head>
    <h1>
        <svg width="1800" height="100">
            <rect width="1800" height="100" style="fill:rgb(0, 132, 255);stroke-width:3;stroke:rgb(0,132,255 )"/>
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="50px" fill="white">DenV</text>
            <img src="{{url_for('static', filename='denvlogo.png')}}" alt="DenV" width="100" height="100" style="position: absolute; right: 75px; top: 21px;">
        </svg>
    </h1>
</head>
<body style="background-color:rgb(255, 255, 255);">
    <p align="center"><a href="home.html"><button>Home</button></a> <a href = "services"><button>Services</button></a> <a href = "product"><button>Products</button></a> <a href="about_us"><button>About us</button></a> <a><button>My account</button></a></p><br><br>
    <h2>
        Welcome to DenV 
    </h2>
    <p>
        DenV is a software designed to aid in the post-diagnostic care of Dengue fever.
        It is designed to be easy to use and easy to understand.
        It is also designed to be easily customizable and extendable.
        It is built on top of the numpy and pandas frameworks and uses Keras for deep learning.
        It also uses CustomTKinter framework for the GUI.
        DenV can help with tasks like:<br>
        <ol>
        <li>Prediction of the severity of Dengue fever</li>
        <li>Prediction of the duration of Dengue fever</li>
        <li>Prediction of the recovery time of Dengue fever</li>
        <li>Prediction of the treatment required for Dengue fever</li>
        <li>Prediction of the platelet count</li>
        <li>Confidence of the report</li>
        <li>Necessary precautions like hospitalisation</li>
        <li>etc</li>
        </ol>
        Download DenV for:<br>
        <a href="https://github.com/sudhaunsh/denV/releases/download/Windows/denV.installer.msi"><text>Windows</text></a>
        <text>,</text>
        <a href="https://github.com/sudhaunsh/denV/releases/download/macOS/installer_unix.sh">MacOS/Linux (manual Install)</a>
    </p>
    <p>
        <a href = "use_denv">Use DenV online</a>
    </p>



</html>