<!DOCTYPE html>
<html lang="en">
    <h1>
        <svg width="1800" height="100">
            <rect width="100%" height="100%" style="fill:rgb(0, 132, 255);stroke-width:3;stroke:rgb(0,132,255 )"/>
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="50px" fill="white">DenV Online</text>
            <img src="{{url_for('static', filename='denvlogo.png')}}" alt="DenV" width="100" height="100" style="position: absolute; right: 75px; top: 21px;">
        </svg>
    </h1>
    <body>
        <h1>
            How to use DenV Online
        </h1>
        <br>
        <img src="{{url_for('static', filename='eginput.jpg')}}" alt="DenV" width="200" height="390" style="position: absolute; right: 350px; top: 200px;">
        <ul>
            <li>
                Enter the name of the patient in the Name field.
            </li>
            <li>
                Enter the age of the patient in the Age field. 20 years => 20
            </li>
            <li>
                Enter the date of onset of the disease in the Date of onset field. 3rd May 2004 => 3/5/2004
            </li>
            <li>
                Enter the DAY of the first test in the Date of first test field. 4th May 2004 => 1
            </li>
            <li>
                Enter the count of the first test in the Count of first test field. 250 thousand => 250
            </li>
            <li>
                Enter the date of the second test in the Date of second test field. 6th May 2004 => 3
            </li>
            <li>
                Enter the count of the second test in the Count of second test field. 200 thousand => 200
            </li>
            <li>
                Click on the Submit button.
            </li>
            <li>
                The result will be displayed on the next page.
            </li>
        </ul>
        <br>
        <p>
            <a href = "use_denv">Use DenV Online</a>
        </p>
        <h1>
            Use DenV Offline
        </h1>
    </body>
</html>