<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<h1>
    <svg width="1800" height="100">
        <rect width="1800" height="100" style="fill:rgb(0, 132, 255);stroke-width:3;stroke:rgb(0,132,255 )"/>
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="50px" fill="white">Welcome to the Atom Framework</text>
    </svg>
</h1>

<h2>
    Log in to get started
</h2>

<form action = "" method = "post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value = "{{request.form.username }}"><br>
    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd" value = "{{request.form.pwd}}"><br><br>
    <input type="submit" value="Submit"> 
</form>


</html>