<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<h1>
    <style>
        .myDiv{
            background-color: rgb(0, 132, 255);
            color: white;
            padding: 40px;
            text-align: center;
        }
    </style>
    <h1>
        <div class = "myDiv">
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="50px" fill="white">Login</text>
            <img src="{{url_for('static', filename='atomlogo.png')}}" alt="DenV" width="300" height="300" style="position: absolute; right: 60px; top: -60px;">
        </div>
</h1>

<h2>
    Log in to get started
</h2>

<form action = "" method = "post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value = "{{request.form.username }}"><br>
    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd" value = "{{request.form.pwd}}"><br><br>
    <input type="submit" value="Submit"> 
</form>


</html>